/Class1.X/build/
/Class1.X/dist/
/Class6.X/build/
/Class6.X/dist/
/Class5.X/build/
/Class5.X/dist/
/Class7.X/build/
/Class7.X/dist/
/Class8/firmware/Class8.X/build/
/Class8/firmware/Class8.X/dist/
/class9.X/build/
/class9.X/dist/
/clas9trial.X/dist/
/clas9trial.X/build/
/Class10/firmware/Class10.X/build/
/Class10/firmware/Class10.X/dist/